@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);

  --radius-md: calc(var(--radius) - 2px);

  --radius-lg: var(--radius);

  --radius-xl: calc(var(--radius) + 4px);

  --color-background: var(--background);

  --color-foreground: var(--foreground);

  --color-card: var(--card);

  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);

  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);

  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);

  --color-secondary-foreground: var(--secondary-foreground);

  --color-muted: var(--muted);

  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);

  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);

  --color-border: var(--border);

  --color-input: var(--input);

  --color-ring: var(--ring);

  --color-chart-1: var(--chart-1);

  --color-chart-2: var(--chart-2);

  --color-chart-3: var(--chart-3);

  --color-chart-4: var(--chart-4);

  --color-chart-5: var(--chart-5);

  --color-sidebar: var(--sidebar);

  --color-sidebar-foreground: var(--sidebar-foreground);

  --color-sidebar-primary: var(--sidebar-primary);

  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);

  --color-sidebar-accent: var(--sidebar-accent);

  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);

  --color-sidebar-border: var(--sidebar-border);

  --color-sidebar-ring: var(--sidebar-ring);

  --color-modal: var(--modal);
}

:root {
  --radius: 0.625rem;

  --background: oklch(0.97 0 0);

  --foreground: oklch(0.145 0 0);

  --card: oklch(1 0 0);

  --card-foreground: oklch(0.145 0 0);

  --popover: oklch(1 0 0);

  --popover-foreground: oklch(0.145 0 0);

  --primary: oklch(0.72 0.11 195);

  --primary-foreground: oklch(0.985 0 0);

  --secondary: oklch(0.97 0 0);

  --secondary-foreground: oklch(0.205 0 0);

  --muted: oklch(0.97 0 0);

  --muted-foreground: oklch(0.556 0 0);

  --accent: oklch(0.97 0 0);

  --accent-foreground: oklch(0.205 0 0);

  --destructive: oklch(0.577 0.245 27.325);

  --border: oklch(0.922 0 0);

  --input: oklch(0.922 0 0);

  --ring: oklch(0.708 0 0);

  --chart-1: oklch(0.646 0.222 41.116);

  --chart-2: oklch(0.6 0.118 184.704);

  --chart-3: oklch(0.398 0.07 227.392);

  --chart-4: oklch(0.828 0.189 84.429);

  --chart-5: oklch(0.769 0.188 70.08);

  --sidebar: oklch(0.985 0 0);

  --sidebar-foreground: oklch(0.145 0 0);

  --sidebar-primary: oklch(0.205 0 0);

  --sidebar-primary-foreground: oklch(0.985 0 0);

  --sidebar-accent: oklch(0.97 0 0);

  --sidebar-accent-foreground: oklch(0.205 0 0);

  --sidebar-border: oklch(0.922 0 0);

  --sidebar-ring: oklch(0.708 0 0);

  --modal: oklch(1 0 0);

  --font-inter: "Inter", Helvetica, sans-serif;
  --font-space-grotesk: "Space Grotesk", sans-serif;
  --font-bebas-neue: "Bebas Neue", sans-serif;

  /* Title Typography Variables */
  --titles-h1-desktop-400-font-family: "Inter";
  --titles-h1-desktop-400-font-size: 48px;
  --titles-h1-desktop-400-font-style: normal;
  --titles-h1-desktop-400-font-weight: 400;
  --titles-h1-desktop-400-letter-spacing: 0px;
  --titles-h1-tablet-400-font-size: 32px;
  --titles-h1-mobile-400-font-size: 24px;

  --titles-h2-desktop-500-font-family: "Inter";
  --titles-h2-desktop-500-font-size: 28px;
  --titles-h2-desktop-500-font-style: normal;
  --titles-h2-desktop-500-font-weight: 500;
  --titles-h2-desktop-500-letter-spacing: 0px;
  --titles-h2-tablet-500-font-size: 24px;
  --titles-h2-mobile-500-font-size: 22px;

  --titles-h3-desktop-500-font-family: "Inter";
  --titles-h3-desktop-500-font-size: 24px;
  --titles-h3-desktop-500-font-style: normal;
  --titles-h3-desktop-500-font-weight: 500;
  --titles-h3-desktop-500-letter-spacing: 0px;
  --titles-h3-tablet-500-font-size: 22px;
  --titles-h3-mobile-500-font-size: 20px;

  --titles-h3-desktop-400-font-family: "Inter";
  --titles-h3-desktop-400-font-size: 24px;
  --titles-h3-desktop-400-font-style: normal;
  --titles-h3-desktop-400-font-weight: 400;
  --titles-h3-desktop-400-letter-spacing: 0px;
  --titles-h3-tablet-400-font-size: 22px;
  --titles-h3-mobile-400-font-size: 20px;

  --titles-h4-desktop-600-font-family: "Inter";
  --titles-h4-desktop-600-font-size: 20px;
  --titles-h4-desktop-600-font-style: normal;
  --titles-h4-desktop-600-font-weight: 600;
  --titles-h4-desktop-600-letter-spacing: 0px;
  --titles-h4-tablet-600-font-size: 20px;
  --titles-h4-mobile-600-font-size: 18px;

  --titles-h4-desktop-400-font-family: "Inter";
  --titles-h4-desktop-400-font-size: 20px;
  --titles-h4-desktop-400-font-style: normal;
  --titles-h4-desktop-400-font-weight: 400;
  --titles-h4-desktop-400-letter-spacing: 0px;
  --titles-h4-tablet-400-font-size: 20px;
  --titles-h4-mobile-400-font-size: 18px;

  --body-text-desktop-600-font-family: "Inter";
  --body-text-desktop-600-font-size: 18px;
  --body-text-desktop-600-font-style: normal;
  --body-text-desktop-600-font-weight: 600;
  --body-text-desktop-600-letter-spacing: 0px;
  --body-text-tablet-600-font-size: 18px;
  --body-text-mobile-600-font-size: 16px;

  --body-text-desktop-400-font-family: "Inter";
  --body-text-desktop-400-font-size: 18px;
  --body-text-desktop-400-font-style: normal;
  --body-text-desktop-400-font-weight: 400;
  --body-text-desktop-400-letter-spacing: 0px;
  --body-text-tablet-400-font-size: 18px;
  --body-text-mobile-400-font-size: 16px;

  --body-text1-desktop-700-font-family: "Inter";
  --body-text1-desktop-700-font-size: 16px;
  --body-text1-desktop-700-font-style: normal;
  --body-text1-desktop-700-font-weight: 700;
  --body-text1-desktop-700-letter-spacing: 0px;
  --body-text1-tablet-700-font-size: 16px;
  --body-text1-mobile-700-font-size: 14px;

  --body-text1-desktop-500-font-family: "Inter";
  --body-text1-desktop-500-font-size: 16px;
  --body-text1-desktop-500-font-style: normal;
  --body-text1-desktop-500-font-weight: 500;
  --body-text1-desktop-500-letter-spacing: 0px;
  --body-text1-tablet-500-font-size: 16px;
  --body-text1-mobile-500-font-size: 14px;

  --body-text1-desktop-400-font-family: "Inter";
  --body-text1-desktop-400-font-size: 16px;
  --body-text1-desktop-400-font-style: normal;
  --body-text1-desktop-400-font-weight: 400;
  --body-text1-desktop-400-letter-spacing: 0px;
  --body-text1-tablet-400-font-size: 16px;
  --body-text1-mobile-400-font-size: 14px;

  --body-text2-desktop-500-font-family: "Inter";
  --body-text2-desktop-500-font-size: 14px;
  --body-text2-desktop-500-font-style: normal;
  --body-text2-desktop-500-font-weight: 500;
  --body-text2-desktop-500-letter-spacing: 0px;

  --body-text2-desktop-400-font-family: "Inter";
  --body-text2-desktop-400-font-size: 14px;
  --body-text2-desktop-400-font-style: normal;
  --body-text2-desktop-400-font-weight: 400;
  --body-text2-desktop-400-letter-spacing: 0px;

  --body-label-desktop-400-font-family: "Inter";
  --body-label-desktop-400-font-size: 12px;
  --body-label-desktop-400-font-style: normal;
  --body-label-desktop-400-font-weight: 400;
  --body-label-desktop-400-letter-spacing: 0px;

  --button-desktop-500-font-family: "Inter";
  --button-desktop-500-font-size: 16px;
  --button-desktop-500-font-style: normal;
  --button-desktop-500-font-weight: 500;
  --button-desktop-500-letter-spacing: 0px;
  --button-tablet-500-font-size: 16px;
  --button-mobile-500-font-size: 14px;
}

.dark {
  --background: oklch(0.19 0.07 265);

  --foreground: oklch(0.985 0 0);

  --card: oklch(0.23 0.08 265);

  --card-foreground: oklch(0.985 0 0);

  --popover: oklch(0.205 0 0);

  --popover-foreground: oklch(0.985 0 0);

  --primary: oklch(0.72 0.11 195);

  --primary-foreground: oklch(0.205 0 0);

  --secondary: oklch(0.269 0 0);

  --secondary-foreground: oklch(0.985 0 0);

  --muted: oklch(0.269 0 0);

  --muted-foreground: oklch(0.708 0 0);

  --accent: oklch(0.269 0 0);

  --accent-foreground: oklch(0.985 0 0);

  --destructive: oklch(0.704 0.191 22.216);

  --border: oklch(1 0 0 / 10%);

  --input: oklch(1 0 0 / 15%);

  --ring: oklch(0.556 0 0);

  --chart-1: oklch(0.488 0.243 264.376);

  --chart-2: oklch(0.696 0.17 162.48);

  --chart-3: oklch(0.769 0.188 70.08);

  --chart-4: oklch(0.627 0.265 303.9);

  --chart-5: oklch(0.645 0.246 16.439);

  --sidebar: oklch(0.205 0 0);

  --sidebar-foreground: oklch(0.985 0 0);

  --sidebar-primary: oklch(0.488 0.243 264.376);

  --sidebar-primary-foreground: oklch(0.985 0 0);

  --sidebar-accent: oklch(0.269 0 0);

  --sidebar-accent-foreground: oklch(0.985 0 0);

  --sidebar-border: oklch(1 0 0 / 10%);

  --sidebar-ring: oklch(0.556 0 0);

  --modal: oklch(0.3 0.04 260);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  /* Heading Classes */
  .font-h1 {
    font-family: var(--titles-h1-desktop-400-font-family);
    font-size: var(--titles-h1-desktop-400-font-size);
    font-weight: var(--titles-h1-desktop-400-font-weight);
    letter-spacing: var(--titles-h1-desktop-400-letter-spacing);
  }

  .font-h2 {
    font-family: var(--titles-h2-desktop-500-font-family);
    font-size: var(--titles-h2-desktop-500-font-size);
    font-weight: var(--titles-h2-desktop-500-font-weight);
    letter-spacing: var(--titles-h2-desktop-500-letter-spacing);
  }

  .font-h3-500 {
    font-family: var(--titles-h3-desktop-500-font-family);
    font-size: var(--titles-h3-desktop-500-font-size);
    font-weight: var(--titles-h3-desktop-500-font-weight);
    letter-spacing: var(--titles-h3-desktop-500-letter-spacing);
  }

  .font-h3-400 {
    font-family: var(--titles-h3-desktop-400-font-family);
    font-size: var(--titles-h3-desktop-400-font-size);
    font-weight: var(--titles-h3-desktop-400-font-weight);
    letter-spacing: var(--titles-h3-desktop-400-letter-spacing);
  }

  .font-h4-600 {
    font-family: var(--titles-h4-desktop-600-font-family);
    font-size: var(--titles-h4-desktop-600-font-size);
    font-weight: var(--titles-h4-desktop-600-font-weight);
    letter-spacing: var(--titles-h4-desktop-600-letter-spacing);
  }

  .font-h4-400 {
    font-family: var(--titles-h4-desktop-400-font-family);
    font-size: var(--titles-h4-desktop-400-font-size);
    font-weight: var(--titles-h4-desktop-400-font-weight);
    letter-spacing: var(--titles-h4-desktop-400-letter-spacing);
  }

  .body-text-600 {
    font-family: var(--body-text-desktop-600-font-family);
    font-size: var(--body-text-desktop-600-font-size);
    font-weight: var(--body-text-desktop-600-font-weight);
    letter-spacing: var(--body-text-desktop-600-letter-spacing);
  }

  .body-text-400 {
    font-family: var(--body-text-desktop-400-font-family);
    font-size: var(--body-text-desktop-400-font-size);
    font-weight: var(--body-text-desktop-400-font-weight);
    letter-spacing: var(--body-text-desktop-400-letter-spacing);
  }

  .body-text1-700 {
    font-family: var(--body-text1-desktop-700-font-family);
    font-size: var(--body-text1-desktop-700-font-size);
    font-weight: var(--body-text1-desktop-700-font-weight);
    letter-spacing: var(--body-text1-desktop-700-letter-spacing);
  }

  .body-text1-500 {
    font-family: var(--body-text1-desktop-500-font-family);
    font-size: var(--body-text1-desktop-500-font-size);
    font-weight: var(--body-text1-desktop-500-font-weight);
    letter-spacing: var(--body-text1-desktop-500-letter-spacing);
  }

  .body-text1-400 {
    font-family: var(--body-text1-desktop-400-font-family);
    font-size: var(--body-text1-desktop-400-font-size);
    font-weight: var(--body-text1-desktop-400-font-weight);
    letter-spacing: var(--body-text1-desktop-400-letter-spacing);
  }
  .body-text2-500 {
    font-family: var(--body-text2-desktop-500-font-family);
    font-size: var(--body-text2-desktop-500-font-size);
    font-weight: var(--body-text2-desktop-500-font-weight);
    letter-spacing: var(--body-text2-desktop-500-letter-spacing);
  }
  .body-text2-400 {
    font-family: var(--body-text2-desktop-400-font-family);
    font-size: var(--body-text2-desktop-400-font-size);
    font-weight: var(--body-text2-desktop-400-font-weight);
    letter-spacing: var(--body-text2-desktop-400-letter-spacing);
  }
  .body-label-400 {
    font-family: var(--body-label-desktop-400-font-family);
    font-size: var(--body-label-desktop-400-font-size);
    font-weight: var(--body-label-desktop-400-font-weight);
    letter-spacing: var(--body-label-desktop-400-letter-spacing);
  }
  .button-text-500 {
    font-family: var(--button-desktop-500-font-family);
    font-size: var(--button-desktop-500-font-size);
    font-weight: var(--button-desktop-500-font-weight);
    letter-spacing: var(--button-desktop-500-letter-spacing);
  }

  @media (max-width: 1024px) {
    .font-h1 {
      font-size: var(--titles-h1-tablet-400-font-size);
    }
    .font-h2 {
      font-size: var(--titles-h2-tablet-500-font-size);
    }
    .font-h3-500 {
      font-size: var(--titles-h3-tablet-500-font-size);
    }
    .font-h3-400 {
      font-size: var(--titles-h3-tablet-400-font-size);
    }
    .font-h4-600 {
      font-size: var(--titles-h4-tablet-600-font-size);
    }
    .font-h4-400 {
      font-size: var(--titles-h4-tablet-400-font-size);
    }
    .body-text-600 {
      font-size: var(--body-text-tablet-600-font-size);
    }
    .body-text-400 {
      font-size: var(--body-text-tablet-400-font-size);
    }
    .body-text1-700 {
      font-size: var(--body-text1-tablet-700-font-size);
    }
    .body-text1-500 {
      font-size: var(--body-text1-tablet-500-font-size);
    }
    .body-text1-400 {
      font-size: var(--body-text1-tablet-400-font-size);
    }
    .button-text-500 {
      font-size: var(--button-tablet-500-font-size);
    }
  }

  @media (max-width: 640px) {
    .font-h1 {
      font-size: var(--titles-h1-mobile-400-font-size);
    }
    .font-h2 {
      font-size: var(--titles-h2-mobile-500-font-size);
    }
    .font-h3-500 {
      font-size: var(--titles-h3-mobile-500-font-size);
    }
    .font-h3-400 {
      font-size: var(--titles-h3-mobile-400-font-size);
    }
    .font-h4-600 {
      font-size: var(--titles-h4-mobile-600-font-size);
    }
    .font-h4-400 {
      font-size: var(--titles-h4-mobile-400-font-size);
    }
    .body-text-600 {
      font-size: var(--body-text-mobile-600-font-size);
    }
    .body-text-400 {
      font-size: var(--body-text-mobile-400-font-size);
    }
    .body-text1-700 {
      font-size: var(--body-text1-mobile-700-font-size);
    }
    .body-text1-500 {
      font-size: var(--body-text1-mobile-500-font-size);
    }
    .body-text1-400 {
      font-size: var(--body-text1-mobile-400-font-size);
    }
    .button-text-500 {
      font-size: var(--button-mobile-500-font-size);
    }
  }
}
